* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /*background-color: rgba(43, 42, 42, 0.3);*/
 /* background-color: rgba(36, 34, 34, 1);*/
}
/* header section */
.header-contaier {
  height: 100px;
  width: 100vw;
}
.header-top {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  color: #000;
}
#header-logo {
  width: 80px;
  font-family: 'Times New Roman', Times, serif;
}
.header-top-left {
  display: flex;
  justify-content: space-around;
}
.header-top-right {
  display: flex;
  justify-content: flex-end;
}
.header-bottom {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  color: #fff;
  font-size: 26px;
  padding: 50px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

/* hero section */
.hero-contaier {
  background-image: url(hero-img.png);
  height: 650px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*flex-direction: column;
    justify-content: ;
    align-items: ;
    line-height: 28px;*/
  position: relative;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  position: absolute;
  right: 400px;
  top: 350px;
  
}
.hero-title {
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 45px;
  letter-spacing: 5px;
  
}

.hero-content {
  color: #fff;
  font-weight: 100;
  font-size: 28px;
  line-height: 50px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding-top: 18px;
}
.hero-btn {
  border: 2px solid #f2ba06;
  background-color: transparent;
  color: #fff;
  padding: 15px;
  border-radius: 50px;
  width: 190px;
  letter-spacing: 1.5px;
  margin-top: 30px;
  font-size: 18px;
}
/* Feature section */
.feture-contaier {
  height: 400px;
  line-height: 40px;
  /*background-color: rgb(36, 34, 34);*/
}
.feature-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 30px;
  color: #000;
}
.feature-content {
  display: flex;
  justify-content: center;
}
.feature-content-cards {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 260px;
}
.feature-content-cards img {
  width: 80px;
}
#feature-content-card-two {
  background-color: rgba(244, 187, 12, 0.5);
}
.feature-content-cards p {
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 900;
  padding: 20px;
  color: #fff;
}
/* works  */
.works-container {
  height: 500px;
  display: flex;
  width: 79vw;
  margin: auto;
  justify-content: center;
  
}
.works-left {
  width: 30%;
 background-color: #f2ba06;
 display: flex;
 justify-content: center;
  align-items: center;
}
.works-left-img{
  height: 450px;
}
.works-right {
  width: 50%;
  background-color: rgba(217, 217, 217, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.item-num{
  font-size: 30px;
  font-weight: 600;
  color: black;
  width: 40px;
  height: 40px;
  background-color: #f2ba06;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.works-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.works-item-para {
  text-align: start;
  line-height: 30px;
  font-size: 24px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 900;
  padding: 20px;
  width: 500px;
}
/*Testemoniales style*/
.testemoniales-container {
  height: 600px;
  /*line-height: 40px;*/
  
  width: 70vw;

  margin: auto;
  justify-content: center;
}
.testemoniales-title{
  text-transform: capitalize;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 40px;
  color: #000;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.testemoniales-content {
  display: flex;
  align-items: center;
  margin: auto;
  /*background-color: #F1F3F4;*/
  justify-content: center;
 
}
.testemoniales-content-cards {
  background-color: #F1F3F4;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  width: 400px;
  height: 340px;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  
}
.testemoniales-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}
.testemoniales-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
}
.testemoniales-name{
  font-size: 20px;
  color: #000;
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 6px;
  font-weight: 600;
}
.testemoniales-para {
  font-size: 18px;
  color: rgb(88, 87, 87);
  margin-top: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
#testemoniales-arrow1, #testemoniales-arrow2{
  font-size: 60px;
  font-weight: 700;
  /*color: #000;*/
  color: rgb(88, 87, 87);
}
.icon-star{
  color: #f2ba06;
}
/*Get started style*/
.Get-started-container{
  background-image: url(./img/25647477475.png);
  
  opacity: 1;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
 
  align-items: flex-start;
  
}
.Get-started-content{
  color: #fff;
  font-weight: 100;
  font-size: 26px;
  line-height: 50px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Get-started-title{
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 44px;
  letter-spacing: 3px;
}
.Get-started-para{}
.Get-started-btn{
  border: 2px solid #f2ba06;
  background-color: transparent;
  color: #fff;
  padding: 15px;
  border-radius: 50px;
  width: 190px;
  letter-spacing: 1.5px;
  margin-top: 35px;
  font-size: 18px;
  margin-left: 15%;
}
/*footer style*/
.footer-container{
  height: 300px;
  color: #fff;
  background-color: rgba(36, 34, 34, 1);
  padding: 10px;
  
}
.footer-top{
  height: 90%;
  display: flex;
 /* gap: 240px;*/
  font-size: 18px; 
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
}
.logo-img{
  width: 100px;
  height: 100px;
}
.social-icons{
  display: flex;
  gap: 20px;
}
.footer-top-row{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}
.footer-hr{
  border: 3px thin #CCC;
}
.footer-bottom{
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}